<div class="flex flex-col flex-auto min-w-0">

    <div class="flex items-center p-2 px-4 justify-center w-full bg-card">
        <div>
            <div class="text-lg font-semibold tracking-tight leading-12  text-center">Generar reportes
            </div>
        </div>

    </div>
    <div class="flex-auto pt-2 sm:px-4 sm:pb-4">
        <div class="barra"></div>
        <div class="p-2 bg-card shadow rounded overflow-hidden">
            <div class="flex justify-center flex-col sm:flex-row items-center w-full py-3 sm:my-2">

                <form [formGroup]="reporteForm" (ngSubmit)="buscar()">
                    <div class="flex flex-wrap  -mx-3 mb-6">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 text-center">
                            <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                                Año:
                            </label>
                            <p-calendar formControlName="anio" view="year" dateFormat="yy"
                                inputId="yearpicker" [appendTo]="'body'"></p-calendar>
                        </div>
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 text-center">
                            <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                                Trimestre:
                            </label>
                            <p-dropdown formControlName="trimestre" [options]="trimestres" placeholder="Seleccione trismestre..."></p-dropdown>
                        </div>
                        <div class="w-full md:w-1/3 px-3 m-auto my-2 flex justify-center">
                            <button class="ml-3 mr-3 bg-indigo-900 text-white text-bold p-1 rounded" mat-flat
                                type="submit">
                                <span class="mr-2 font-medium"><i class="fas fa-search mx-1"></i> Consultar</span>
                            </button>
                        </div>
                        <div class="w-full md:w-1/3 px-3 m-auto my-2 flex justify-center">
                            <button class=" ml-3 mr-3  bg-red-500 text-white text-bold p-1 rounded" mat-flat-button
                                type="button" (click)="limpiar()">

                                <span class="ml-2 font-medium"> <i class="fas fa-trash mx-1"></i> Limpiar</span>
                            </button>
                        </div>
                        <div *ngIf="visual_excel" class="w-full md:w-1/3 px-3 m-auto my-2 flex justify-center">
                            <button class=" ml-3 mr-3  bg-green-500 text-white text-bold p-1 rounded" mat-flat-button
                                type="button" (click)="descargar()">

                                <span class="ml-2 font-medium"> <i class="far fa-file-excel"></i> Exportar .xlsx</span>
                            </button>
                        </div>

                    </div>
                </form>


            </div>
<!--             <pre>
            <code>
                {{reporteForm.value | json}}
            </code>
          </pre> -->
        </div>
    </div>
</div>