<div class="absolute inset-2 flex flex-col min-w-0 overflow-hidden p-0">

  <div class="flex-auto p-0 overflow-y-auto" cdkScrollable>

    <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0 mt-1">

      <div class="sm:col-span-6 flex flex-col flex-auto p-0 bg-blueGray-300 shadow rounded-lg overflow-hidden">
        <div class="flex flex-col flex-auto overflow-x-auto">


          <form [formGroup]="herramientasForm" (ngSubmit)="saveData()">

            <section class=" py-1 bg-blueGray-100">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">

                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

                  <div class="flex flex-wrap mt-4">

                    <div class="w-full lg:w-4/12 px-4">
                      <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                          Provincia:
                          <span class="text-required"> * </span>

                        </label>
                        <input type="text"
                          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                          formControlName="provincia" [attr.disabled]="true">
                      </div>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                      <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                          Área salud:
                          <span class="text-required"> * </span>

                        </label>
                        <p-dropdown [options]="area_salud" [filter]="area_salud.length >= 10" appendTo="body"
                          [style]="{'width':'100%'}" formControlName="area_salud"
                          placeholder="Seleccione..."></p-dropdown>
                      </div>
                    </div>
                    <div class="w-full lg:w-4/12 px-4">
                      <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                          Unidad operativa:
                          <!-- <span class="text-required"> * </span> -->

                        </label>
                        <input type="text"
                          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                          formControlName="unidad_operativa" [attr.disabled]="true">
                      </div>
                    </div>


                    <div class="w-full lg:w-4/12 px-4">
                      <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                          Fecha de la medición:
                          <span class="text-required"> * </span>

                        </label>
                        <input type="text"
                          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                          formControlName="fecha_medicion" [attr.disabled]="true">
                      </div>
                    </div>


                    <div class="w-full lg:w-4/12 px-4">
                      <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                          Mes evaluado:
                          <span class="text-required"> * </span>

                        </label>
                        <p-dropdown [options]="tiempo" [filter]="tiempo.length >= 10" appendTo="body"
                          [style]="{'width':'100%'}" formControlName="mes_evaluado"
                          placeholder="Seleccione..."></p-dropdown>
                      </div>
                    </div>



                    <div class="w-full lg:w-4/12 px-4">
                      <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                          Responsable de la medición:
                          <span class="text-required"> * </span>

                        </label>
                        <input type="text"
                          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                          formControlName="responsable_medicion" [attr.disabled]="true">
                      </div>
                    </div>


                  </div>


                </div>
              </div>
            </section>

            <p-accordion [activeIndex]="0">
              <p-accordionTab header="Instructivo">
                <ol>
                  <li class="my-2 text-justify"> <strong>1. </strong>Realice la medición de éste indicador en forma
                    mensual.</li>
                  <li class="my-2 text-justify"> <strong>2. </strong>Registre el nombre de la Provincia, el nombre del
                    Área de Salud y su número de Área, el nombre de la Unidad Operativa, la fecha de la medición, el mes
                    evaluado y el nombre y apellido de la persona responsable de la medición.</li>
                  <li class="my-2 text-justify"> <strong>3. </strong>Del instrumento del cual se obtiene el listado de
                    complicaciones para el indicador 8 (porcentaje de complicaciones obstétricas que fueron manejadas
                    según la norma), también se obtiene el presente indicador. Sume en sentido vertical las
                    complicaciones obstétricas atendidas y registre en el casillero correspondiente del instrumento
                    (SUBTOTAL). Es necesario aplicar este instrumento a todas las Unidades operativas del Área de Salud
                    y como es un indicador provincial, también debe incluirse las complicaciones del hospital general.
                  </li>
                  <li class="my-2 text-justify"> <strong>4. </strong>Para obtener el total de complicaciones obstétricas
                    atendidas en el hospital en el mes de la evaluación, se deberá sumar en sentido horizontal el
                    subtotal del instrumento descrito en el punto anterior EXCEPTO EL SUBTOTAL DE CESÁREAS (ya que estas
                    han servido para verificar las complicaciones) y el resultado registrar en el casillero
                    correspondiente al mes evaluado, posteriormente se sumarán todas las complicaciones atendidas del
                    mes evaluado y los meses previos, hasta el mes de enero inclusive. El resultado se colocará en el
                    casillero correspondiente (Número) del instrumento actual.</li>
                  <li class="my-2 text-justify"> <strong>5. </strong>Para obtener el total de complicaciones obstétricas
                    esperadas en la población del Área de Salud o Unidad Operativa, (el 15% de los embarazos esperados)
                    (denominador):
                    a. Tome la Planificación Anual de la Unidad de Salud, del PLIS o la proyección poblacional del MSP
                    donde se estima el total de embarazadas esperadas para el Área de Salud en el año.
                    b. De este valor, obtenga el 15 % y registre en el casillero correspondiente del instrumento
                    (Número). Se estima que un 15% de embarazos pueden llegar a tener complicaciones que amenazan la
                    vida.</li>
                </ol>

              </p-accordionTab>
            </p-accordion>

            <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0 mt-1">

              <div class="sm:col-span-6 flex flex-col flex-auto p-0 bg-card shadow rounded-lg overflow-hidden">
                <div class="flex flex-col flex-auto overflow-x-auto">


                  <!-- TODO: STEP 1 -->

                  <div class="flex flex-col  bg-card filter-pricing">
                    <div class="p-4">
                      <div class="text-base text-justify font-bold">

                        <p>12. Porcentaje de complicaciones obstétricas atendidas en las Unidades del Área de Salud, de
                          las esperadas.
                      </div>
                    </div>
                  </div>

                  <p-table styleClass="p-datatable-gridlines p-datatable-wrapper b-color" responsiveLayout="scroll"
                    [autoLayout]="true" responsiveLayout="scroll" [autoLayout]="true" responsiveLayout="scroll"
                    [rowHover]="true" class="mb-5">
                    <ng-template pTemplate="header">
                      <tr>
                        <th colspan="12" class="font-black text-center">Número de complicaciones atendidas en el Área de
                          Salud, hasta el mes evaluado.
                        </th>
                      </tr>
                      <tr>
                        <td class="font-black text-center">Enero</td>
                        <td class="font-black text-center">Febrero</td>
                        <td class="font-black text-center">Marzo</td>
                        <td class="font-black text-center">Abril</td>
                        <td class="font-black text-center">Mayo</td>
                        <td class="font-black text-center">Junio</td>
                        <td class="font-black text-center">Julio</td>
                        <td class="font-black text-center">Agosto</td>
                        <td class="font-black text-center">Septiembre</td>
                        <td class="font-black text-center">Octubre</td>
                        <td class="font-black text-center">Noviembre</td>
                        <td class="font-black text-center">Diciembre</td>
                      </tr>
                      <tr>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_enero" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="enero" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_enero" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="enero" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_febrero" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="febrero" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_febrero" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="febrero" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_marzo" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="marzo" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_marzo" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="marzo" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_abril" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="abril" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_abril" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="abril" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_mayo" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="mayo" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_mayo" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="mayo" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_junio" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="junio" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_junio" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="junio" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_julio" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="julio" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_julio" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="julio" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_agosto" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="agosto" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_agosto" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="agosto" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_septiembre" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="septiembre" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_septiembre" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="septiembre" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_octubre" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="octubre" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_octubre" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="octubre" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input *ngIf="disable_noviembre" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="noviembre" type="number" min="0" class="max-w-20" disabled>
                          <input *ngIf="!disable_noviembre" (change)="promedio(herramientasForm)" [min]="0"
                            formControlName="noviembre" type="number" min="0" class="max-w-20">
                        </td>
                        <td style="text-align-last:center;">
                          <input (change)="promedio(herramientasForm)" [min]="0" formControlName="diciembre"
                            type="number" min="0" class="max-w-20">
                        </td>
                      </tr>
                    </ng-template>

                  </p-table>

                  <div class="bg-blue-200 mb-5 p-2 b rounded">
                    <p>Número de Embarazadas Asignadas al Área de Salud para el año: <p-inputNumber
                        (onInput)="promedio(herramientasForm)" (onFocus)="promedio(herramientasForm)"
                        (onBlur)="promedio(herramientasForm)" [min]="0" inputId="integeronly" [min]="0"
                        formControlName="embarazadas"></p-inputNumber></p>
                  </div>


                  <p-table styleClass="p-datatable-gridlines p-datatable-wrapper b-color" responsiveLayout="scroll"
                    [autoLayout]="true" responsiveLayout="scroll" [autoLayout]="true" responsiveLayout="scroll"
                    [rowHover]="true">
                    <ng-template pTemplate="header">

                      <tr>
                        <td class="font-black text-center bg-gray-400"></td>
                        <td class="font-black text-center">Número</td>
                        <td class="font-black text-center">Porcentaje</td>
                      </tr>
                      <tr>
                        <td class="font-black text-justify">Suma de complicaciones obstétricas atendidas en el Área de
                          Salud, hasta el mes evaluado</td>
                        <td class="font-black text-center"><p-inputNumber inputId="integeronly"
                            formControlName="total_muertes" [min]="0" readonly="true">
                          </p-inputNumber></td>
                        <td rowspan="2" class="font-black text-center"><p-inputNumber inputId="integeronly"
                            formControlName="porcentaje" readonly="true" suffix="%"> </p-inputNumber></td>
                      </tr>
                      <tr>
                        <td class="font-black text-justify">Total de complicaciones obstétricas esperadas en la
                          población del Área de Salud, (15% de los embarazos esperados para el año)</td>
                        <td class="font-black text-center"><p-inputNumber inputId="integeronly"
                            formControlName="total_atendidos" readonly="true"> </p-inputNumber></td>
                      </tr>
                    </ng-template>

                  </p-table>


                  <div class="flex justify-end mt-4">

                    <button class="px-8 bg-indigo-900	text-white	" mat-button type="submit">
                      Guardar
                    </button>
                  </div>





                </div>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
