.swal2-container {
    z-index: 9999 !important;
}
.swal2-container .swal2-popup {
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important;
    transition-delay: 150ms !important;
    padding: 0.5rem !important;
}
.swal2-image {
    margin: none !important;
}

.swal2-actions {
    margin-top: 1rem !important;
    padding: 0 !important;
}

.swal2-content {
    text-align: center !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    color: #6b7280 !important;
    font-weight: 500 !important;
    margin-top: 0.5rem !important;
}

.swal2-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swal2-title {
    padding: 0 !important;
    text-align: center !important;
    margin-top: 0 !important;
    font-weight: 500 !important;
    color: #111827 !important;
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}
.swal2-icon {
    margin: 0.5em auto .6em !important;
}

.swal2-icon-content {
    font-size: 2.75em !important;
}

.swal2-html-container {
    padding: 0rem !important;
    color: #545454;
    font-size: 1rem !important;
    /* text-align: justify !important; */
}

.swal2-styled.swal2-confirm {
    border-radius: .25em;
    background-color: #001f3f !important;
    color: #fff !important;
    font-size: 0.8rem !important;
}

.swal2-styled.swal2-cancel {
    border-radius: .25em;
    background-color: #6e7d88;
    color: #fff;
    font-size: 0.8rem !important;
}

.swal2-input {
    height: 1.75em !important;
    font-size: 1rem !important;
  }