<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

  <div class="flex-auto overflow-y-auto shadow" cdkScrollable>
    <!-- Header -->
    <div class="bg-card dark:border-b  ">
      <div class="flex flex-col w-full max-w-screen-xl mx-auto px-4 sm:px-6">
        <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-4">
          <!-- Avatar and name -->
          <div class="flex flex-auto items-center min-w-0">
            <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
              <img *ngIf="user.foto_segusu" class="w-full h-full object-cover" [src]="user.foto_segusu">
              <img *ngIf="!user.foto_segusu" class="w-full h-full object-cover" src="assets/images/user.png">
            </div>

            <div class="flex flex-col min-w-0 ml-4">
              <ng-container>
                <div class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                  Bienvenido {{sucursal?.responsable_establecimiento | uppercase}}</div>
              </ng-container>
              <div class="flex items-center">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                <div class="ml-1.5 leading-6 truncate text-secondary">Último ingreso {{last_date|date: 'dd/MM/yyyy'}} a
                  las
                  {{last_time}}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project selector -->
      </div>
    </div>

    <!-- Main -->
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-full min-w-0">
        <div class="sm:col-span-4 md:col-span-4 flex flex-col flex-auto">
          <div class="grid grid-cols-1 lg:grid-cols-3 grid-flow-row gap-4 w-full">
            <!-- USUARIO -->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-4">
                <div class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden">
                  <div class="flex items-start justify-between border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">PERFIL:</div>
                    <div class="ml-2 text-primary">
                      <i class="fas fa-id-card-alt text-lg"></i>
                    </div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col mr-4">
                      <img class="w-7 h-7 mr-5" src="assets/icons/user.svg" alt="profile-user">
                    </div>
                    <div class="flex flex-col flex-auto">
                      <div class="text-2xl text-primary-500 font-semibold tracking-tight leading-tight">
                        {{user.nombre_segper | uppercase}}
                      </div>
                    </div>
                  </div>
                </div>
                <!--PUNTAJE SUPERVISION-->
                <!-- <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color}}">
                  <div class="flex items-start justify-between border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">ÚLTIMA SUPERVISIÓN:</div>
                    <div class="ml-2 text-primary">
                      <i class="fas fa-tachometer-alt text-lg"></i>
                    </div>
                  </div>
                  <div class="flex items-center mt-1 text-lg font-medium">
                    <div class="flex items-center justify-between w-full p-2 filter-info">
                      Puntaje:
                      <div class="flex flex-col text-right">
                        <div *ngIf="puntaje" class="text-lg font-semibold leading-tight">{{puntaje}}</div>
                        <div *ngIf="!puntaje" class="text-lg font-semibold leading-tight">No se aplica</div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- TIEMPO RELOJ -->
            <div class="sm:col-span-2 flex flex-col">
              <div class="flex-auto grid grid-cols-1 sm:grid-cols-4 gap-4">
                <div class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden ">
                  <div class="flex items-start justify-between border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                      {{establecimiento.ciudad
                      ?? 'RIOBAMBA'}}</div>
                    <div class="ml-2 text-primary">
                      <i class="fas fa-map-marker-alt text-lg"></i>
                    </div>
                  </div>
                  <div class="flex flex-col items-center">
                    <div class="flex items-center max-w-80 mt-6 w-full filter-info">
                      <img class="w-20 h-20 ml-5 mr-5 " src="{{urlIcono}}" alt="weather">
                      <div class="flex flex-col">
                        <div class="text-8xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                          {{tempActual}}
                        </div>
                      </div>
                    </div>
                    <div class="flex items-baseline justify-center w-full mt-4 text-secondary">
                      <div class="text-lg font-medium truncate">{{establecimiento.provincia ?? 'CHIMBORAZO'}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- reloj -->
                <div class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden ">
                  <div class="flex items-start justify-between border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                      {{day|uppercase}}</div>
                    <div class="ml-2 text-primary">
                      <i class="fas fa-clock text-lg"></i>
                    </div>
                  </div>
                  <div class="flex items-center justify-between w-full px-6 pt-6 filter-info">
                    <img class="w-13 h-13 mr-5" src="assets/icons/calendario.svg" alt="Calendario">
                    <div class="flex flex-col text-right">
                      <div class="flex items-center whitespace-nowrap text-right">
                        <div class="text-7xl sm:text-7xl font-bold tracking-tight leading-none text-orange-500">
                          {{hours}}
                        </div>
                        <div class="ml-2 text-4xl font-semibold text-orange-500">{{ampm}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-baseline justify-center w-full mt-7 text-secondary">
                    <div class="text-lg font-medium truncate">{{date}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden">
          <div class="flex items-start justify-between border-b">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">DATOS DEL ESTABLECIMIENTO: </div>
            <div class="ml-2 text-primary">
              <i class="fas fa-store  text-lg"></i>
            </div>
          </div>
          <div class="flex items-center justify-between mt-2">
            <div class="flex flex-col mr-6">
              <div class="text-lg font-semibold leading-tight">DISTRITO: {{establecimiento?.distrito}}</div>
              <!-- <div class="text-secondary font-medium text-md">Travel locations</div> -->
              <div class="flex flex-wrap items-center text-secondary my-1">
                <span><i class="text-primary-500 icon-size-4 fas fa-home mr-3"></i></span>
                <div class="text-secondary">{{establecimiento?.establecimiento}}</div>
              </div>
              <div class="flex flex-wrap items-center text-secondary my-1">
                <span><i class="text-primary-500 icon-size-4 fas fa-hospital mr-3"></i></span>
                <span class="whitespace-nowrap">{{establecimiento?.tipo_establecimiento}}</span>
              </div>
              <div class="flex flex-wrap items-center text-secondary my-1">
                <span><i class="text-primary-500 icon-size-4 fas fa-directions mr-3"></i></span>
                <span class="whitespace-nowrap">{{establecimiento?.direccion}}</span>
              </div>
            </div>
            <!--   <img *ngIf="!establecimiento?.logo_segemp" src='assets/images/no-img.jpg' alt="Logo sucursal" class="w-20 rounded-lg object-cover"> -->
            <!--                         <img  [src]="'assets/images/logo/logo-msp-1.jpg'" alt="Logo MSP" class="w-40 rounded-lg object-cover">
 -->
          </div>
        </div>
        <div
          class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden">
          <div class="flex items-start justify-between border-b">
            <div *ngIf="puntaje<60" class="text-xl font-medium tracking-tight leading-6 truncate">
              DISPOSITIVO: </div>
            <div class="ml-2 text-primary">
              <div class="text-lg font-medium truncate text-primary">{{device?.deviceType}}</div>
            </div>
          </div>
          <div class="flex items-center justify-between w-full p-2 filter-info">
            <img [src]="'assets/images/browser/'+ device?.browser  + '-logo.png' " alt="browser" class="w-12 h-12 ">
            <div class="flex flex-col text-right">
              <div class="text-lg font-semibold leading-tight">{{device?.browser}}</div>
              <div class="text-md text-secondary rounded-full">
                {{device?.browser_version}}</div>
            </div>
          </div>
          <div class="flex items-center justify-between w-full p-2 filter-info">
            <img *ngIf="device?.isMobile" src="assets/icons/movil.svg" alt="Mobile" class="w-12 h-12">
            <img *ngIf="device?.isTablet" src="assets/icons/desktop.svg" alt="Tablet" class="w-12 h-12">
            <img *ngIf="device?.isDesktop" src="assets/icons/desktop.svg" alt="Desktop" class="w-12 h-12">
            <div class="flex flex-col text-right">
              <div class="text-xl font-semibold leading-tight">{{device?.os}}</div>
              <div class="text-md text-secondary">{{device?.os_version}}</div>
            </div>
          </div>
        </div>

        <!--TODO: card de porcentajes -->
        <div class="sm:col-span-4 md:col-span-4 flex flex-col flex-auto">
          <div class="grid grid-cols-1 lg:grid-cols-3 grid-flow-row gap-4 w-full">
            <!-- Indicador 1 -->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[0]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 1A</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de insumos, equipos y medicamentos esenciales con los que cuenta cada unidad
                          operativa para la atención de la salud materna y del/a recién nacido/a
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[0]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[0] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Indicador 2 -->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[1]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 2</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de mujeres embarazadas en cuyo control prenatal (en cualquier semana de gestación)
                          se le realizaron y registraron actividades seleccionadas según la norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[1]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[1] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--Indicador 3A-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[2]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 3A</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de partos atendidos en las Unidades de Salud con partograma graficado correctamente
                          la curva de alerta y la curva de dilatación cervical de la paciente, y además se controló y
                          registró la tensión arterial, la actividad uterina (frecuencia y duración) y la frecuencia
                          cardiaca fetal
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[2]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[2] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--3B-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[3]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 3B</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de partos atendidos en las Unidades de Salud en los que se tomó decisiones frente a
                          desviaciones de la curva de dilatación cervical del partograma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[3]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[3] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--4 4-->

            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[4]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 4</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de partos vaginales atendidos en el hospital en los que se administró a la
                          parturienta 10 UI. de Oxitocina intramuscular dentro del Minuto después del nacimiento del/a
                          recién nacido/a, como parte del manejo activo del tercer periodo del parto y se registró en la
                          historia clínica perinatal
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[4]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[4] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--5 5-->

            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[5]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 5</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de post partos inmediatos en los que se controló y registró en la historia clínica
                          perinatal en tres controles obligatorios durante las dos primeras horas las actividades
                          seleccionadas según la norma </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[5]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[5] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--6 6-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[6]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 6</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de recién nacidos/as a término en los/as que se realizó y registró en la historia
                          clínica perinatal por lo menos 11 actividades seleccionadas de la Norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[6]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[6] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--7A 7-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[7]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 7A</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de partos atendidos por profesional capacitado (médico/a u obstetriz)
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[7]?.porcentaje || '' }}</p>
                        <p *ngIf="puntaje?.unoNueve[7] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--7B 8-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[8]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 7B</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de recién nacidos/as atendidos/as por profesional capacitado (médico/a u obstetriz)
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[8]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[8] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--8A 9-->

            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[9]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 8A</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de pacientes con Pre eclampsia y Eclampsia que fueron manejadas de acuerdo a la
                          norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[9]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[9] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--8B 10-->

            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[10]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 8B</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de pacientes con Hemorragias Obstétricas que fueron manejadas de acuerdo a la norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[10]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[10] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--8C 11-->

            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[11]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 8C</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de pacientes con Infección / Fiebre de causa obstétrica: aborto séptico,
                          corioamnionitis, endometritis que fueron manejadas de acuerdo a la norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[11]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[11] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--8D 12-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[12]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 8D</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de amenaza Partos Pretérmino en los que se administró a la madre corticoides y se
                          registró en la historia clínica perinatal / Historia Clínica única, la inducción de maduración
                          fetal pulmonar
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[12]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[12] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--8E 13-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[13]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 8E</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de Partos Pretérmino en los que se administro a la madre Nifedipina como Utero
                          inhibidor y se registró en la historia clínica perinatal / Historia Clínica única
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[13]?.porcentaje || '' }}</p>
                        <p *ngIf="puntaje?.unoNueve[13] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--8F 14-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[14]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 8F</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de Embarazadas con Ruptura Prematura de membranas que fueron manejadas de acuerdo a
                          la norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[14]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[14] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--9A 15-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[15]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 9A</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de Recién Nacidos con infección sistémica, que fueron manejados de acuerdo a la
                          norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[15]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[15] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--9B 16-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[16]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 9B</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de RN con trastornos respiratorios, que fueron manejados de acuerdo a la norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[16]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[16] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--9C 17-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[17]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 9C</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de RN con prematurez  y/o  peso bajo, que fueron manejados de acuerdo a la norma
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.unoNueve[17]?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.unoNueve[17] == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--10 18-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[18]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 10</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Tasa hospitalaria de letalidad por complicaciones obstétricas directas
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.diez?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.diez?.porcentaje == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--11 19-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[19]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 11</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Tasa hospitalaria de mortalidad neonatal
                        </p>
                        <p class="text-base text-center font-semibold mt-4">{{puntaje?.once?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.once?.porcentaje == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--12 20-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[20]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 12</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de complicaciones obstétricas atendidas en las Unidades del Área de Salud, de las esperadas
                        </p>
                        <p *ngIf="puntaje?.doce?.porcentaje" class="text-base text-center font-semibold mt-4">{{puntaje?.doce?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.doce?.porcentaje == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--13 21-->
            <div class="sm:col-span-1 flex flex-col flex-auto">
              <div class="flex-auto grid grid-cols-1 sm:col-span-8 gap-y-2">
                <div
                  class="sm:col-span-2 flex flex-col flex-auto p-2 bg-card shadow-xl rounded-md overflow-hidden {{color1[21]}}">
                  <div class="flex items-center justify-center border-b">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">INDICADOR 13</div>
                  </div>
                  <div class="flex items-center mt-1">
                    <div class="flex flex-col flex-auto">
                      <div class="text-base text-primary-500  tracking-tight leading-tight">
                        <p class="text-center">
                          Porcentaje de las muertes maternas ocurridas en el Área de Salud/Hospital que tienen un proceso de investigación epidemiológica de la muerte materna
                        </p>
                        <p *ngIf="puntaje?.trece?.porcentaje" class="text-base text-center font-semibold mt-4">{{puntaje?.trece.porcentaje?.porcentaje || ''}}</p>
                        <p *ngIf="puntaje?.trece?.porcentaje == null" class="text-base text-center font-semibold mt-4">No
                          aplica</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>


        <!--TODO:-->
      </div>
    </div>
  </div>