<div class="flex flex-col flex-auto min-w-0">

  <div class="flex items-center p-2 justify-center w-full bg-card">
    <div>
      <div class="text-lg font-semibold tracking-tight leading-12  text-center">Revisión indicador 1A.
      </div>
    </div>

  </div>
  <div class="flex-auto pt-2 sm:px-4 sm:pb-4">
    <div class="barra"></div>
    <div class="p-2 bg-card shadow rounded overflow-hidden">
      <div class="flex justify-center flex-col sm:flex-row items-center w-full py-3 sm:my-2">

        <form [formGroup]="supervisionForm" (ngSubmit)="buscarSupervision()">
          <div class="flex flex-wrap  -mx-3 mb-6">

            <div class="w-full md:w-1/2  lg:w-1/2 px-3">
              <label class=" flex justify-endblock tracking-wide text-gray-700 text-sm font-bold mb-2"
                for="grid-last-name">
                Distrito:
              </label>
              <p-dropdown class="flex justify-end w-full" appendTo="body" [filter]="distritos.length >= 10"
                emptyFilterMessage="No existen registros"
                [(ngModel)]="selectDistrito" styleClass="component my-1 mx-1" [options]="distritos"
                placeholder="Seleccione..." formControlName="distrito" [readonly]="lectura_distrito">
                {{distritos}}
              </p-dropdown>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2 px-3">
              <label class="block tracking-wide text-gray-700 text-sm font-bold mb-2" for="grid-last-name">
                Establecimiento:
              </label>
              <p-dropdown appendTo="body" [filter]="establecimientos.length >= 10"
                emptyFilterMessage="No existen registros" formControlName="establecimiento"
                [(ngModel)]="selectEstablecimiento" styleClass="component my-1 mx-1" [options]="establecimientos"
                placeholder="Seleccione...">
                {{establecimientos}}
              </p-dropdown>
            </div>

            <div class="w-full md:w-1/2 px-3 flex justify-end mt-2">
              <button class="px-2 bg-indigo-900	text-white p-2" mat-button type="submit">

                <span class="mr-2 font-medium"><i class="fas fa-search mx-1"></i> Consultar</span>
              </button>
            </div>
            <div class="w-full md:w-1/2 px-3 flex justify-start mt-2">
              <button class="px-2 bg-red-500	text-white p-2" mat-button type="button" (click)="resetInfo()">
                <span class="ml-2 font-medium"> <i class="fas fa-trash mx-1"></i> Limpiar</span>
              </button>
            </div>

          </div>

        </form>

      </div>
      <p-table #dt1 [value]="seguimiento" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['establecimiento_hlic','porcentaje_estandar_hlic']" [autoLayout]="true"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="Criterio búsqueda" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="font-black text-center">Establecimiento</th>
            <th class="font-black text-center">Año</th>
            <th class="font-black text-center">Período</th>
            <th class="font-black text-center">Items cumple</th>
            <th class="font-black text-center">T. Items</th>
            <th class="font-black text-center">Porcentaje</th>
            <th class="min-w-8 w-fit text-center">Visualizar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataRow>
          <tr>
            <td class="text-center">{{dataRow.establecimiento_hlic}}</td>
            <td class="text-center">{{dataRow.fecha_medicion_hlic | date: 'yyyy'}}</td>
            <td class="text-center">{{dataRow.detalle_indtp}}</td>
            <td class="text-center">{{dataRow.items_cumple_hlic}}</td>
            <td class="text-center">{{dataRow.total_items_hlic}}</td>
            <td *ngIf="dataRow.porcentaje_estandar_hlic >= 0 &&  dataRow.porcentaje_estandar_hlic <71" class="text-center bg-red-300">{{dataRow.porcentaje_estandar_hlic}}%</td>
            <td *ngIf="dataRow.porcentaje_estandar_hlic >= 71 &&  dataRow.porcentaje_estandar_hlic <91" class="text-center font-bold text-indigo-90 bg-yellow-300">{{dataRow.porcentaje_estandar_hlic}}%</td>
            <td *ngIf="dataRow.porcentaje_estandar_hlic >91" class="text-center font-bold text-indigo-90 bg-green-300">{{dataRow.porcentaje_estandar_hlic}}%</td>

            <td class="text-center">
              <button (click)="onVisual(dataRow)"
                class="h-6 w-7 bg-transparent hover:bg-green-500 text-green-700 hover:text-white border border-green-500 hover:border-transparent rounded"
                type="button" icon="fas fa-eye" pButton pRipple>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <p *ngIf="porcentaje_total >= 0 &&  porcentaje_total <71" class="text-center bg-red-300">
            {{porcentaje_total}}%</p>
          <p *ngIf="porcentaje_total >= 71 &&  porcentaje_total <91"
            class="text-center font-bold text-indigo-90 bg-yellow-300">{{porcentaje_total}}%</p>
          <p *ngIf="porcentaje_total >91" class="text-center font-bold text-indigo-90 bg-green-300">
            {{porcentaje_total}}%</p>
      </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>




  <div *ngIf="visibleForm" class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0 mt-1">

    <div class="sm:col-span-6 flex flex-col flex-auto p-0 bg-blueGray-300 shadow rounded-lg overflow-hidden">
      <div class="flex flex-col flex-auto overflow-x-auto">


        <form [formGroup]="herramientasForm" (ngSubmit)="saveData(stepper)">

          <section class=" py-1 bg-blueGray-100">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
              <div class="rounded-t bg-white mb-0 px-6 py-6">
                <div class="text-center  justify-between">
                  <h6 class="text-blueGray-700 text-base font-bold">
                    INSTRUMENTO: LISTA DE CHEQUEO
                  </h6>
                </div>
              </div>
              <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

                <div class="flex flex-wrap mt-4">
                  <div class="w-full lg:w-4/12 px-4">
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600  border-blueGray-300 text-sm font-bold mb-2">
                        Zona:
                        <span class="text-required"> * </span>
                      </label>
                      <input type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="zona_hlic" [attr.disabled]="true">
                    </div>
                  </div>
                  <div class="w-full lg:w-4/12 px-4">
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                        Provincia:
                        <span class="text-required"> * </span>

                      </label>
                      <input type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="provincia_hlic" [attr.disabled]="true">
                    </div>
                  </div>
                  <div class="w-full lg:w-4/12 px-4">
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                        Distrito:
                        <span class="text-required"> * </span>

                      </label>
                      <input type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="distrito_hlic" [attr.disabled]="true">
                    </div>
                  </div>
                  <div class="w-full lg:w-4/12 px-4">
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                        Establecimiento de salud:
                        <!-- <span class="text-required"> * </span> -->

                      </label>
                      <input type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="establecimiento_hlic" [attr.disabled]="true">
                    </div>
                  </div>


                  <div class="w-full lg:w-4/12 px-4">
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                        Fecha de la medición:
                        <span class="text-required"> * </span>

                      </label>
                      <input type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="fecha_medicion_hlic" [attr.disabled]="true">
                    </div>
                  </div>


                  <div class="w-full lg:w-4/12 px-4">
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                        Mes evaluado:
                        <span class="text-required"> * </span>

                      </label>
                      <p-dropdown [options]="tiempo" [filter]="tiempo.length >= 10" appendTo="body"
                        [style]="{'width':'100%'}" formControlName="ide_indtp"
                        placeholder="Seleccione..." [readonly]="true"></p-dropdown>
                    </div>
                  </div>



                  <div class="w-full lg:w-4/12 px-4">
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-sm font-bold mb-2">
                        Responsable de la medición:
                        <span class="text-required"> * </span>

                      </label>
                      <input type="text"
                        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        formControlName="responsable_medicion_hlic" [attr.disabled]="true">
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </section>

          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Instructivo">
              <ol>
                <li class="my-2 text-justify"> <strong>1. </strong> Realice la medición de éste indicador en forma
                  trimestral.</li>
                <li class="my-2 text-justify"> <strong>2. </strong>Registre el nombre de la Zona, Provincia, el nombre
                  del Distrito de Salud y su número, el nombre de la Unidad Operativa, la fecha de la medición, el mes
                  evaluado y el nombre y apellido de la persona responsable de la medición.</li>
                <li class="my-2 text-justify"> <strong>3. </strong>Realice la constatación física, en horas laborables
                  del listado de insumos, equipos y medicamentos, en las siguientes áreas del Hospital o Unidad de
                  Salud, de acuerdo al nivel de complejidad y número de salas: área de preparación, consultorio/s,
                  onstétrico/s de Consulta Externa, farmacia, laboratorio, emergencia, sala/s de parto/s (área materna
                  y del recién nacido/a), hospitalización obstétrica, cirugía obstétrica y anastesiología. Para la
                  constatación de los medicamentos en la farmacia, se deberá verificar la existencia de un stock
                  mínimo considerado por la Unidad de Salud. </li>
                <li class="my-2 text-justify"> <strong>4. </strong>Registre en el casillero del instrumento en sentido
                  vertical signo positivo (+) si cumple o signo (-), si no cumple con cada ítem del estándar. En caso
                  de existir más de un ambiente, por ejemplo más de un consultorio obstétrico se debe verificar en
                  cada uno de ellos y colocar signo + o - en cada columna (1, 2 y 3); en cumple se han diseñado 3
                  columnas para estos casos, al final se realizará un promedio tomando en cuenta el número de ítems
                  que deben ser cumplidos y los que se cumplen.</li>
              </ol>

            </p-accordionTab>
          </p-accordion>

          <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0 mt-1">

            <div class="sm:col-span-6 flex flex-col flex-auto p-0 bg-card shadow rounded-lg overflow-hidden">
              <div class="flex flex-col flex-auto overflow-x-auto">

                <div class="stepper">
                  <mat-stepper linear #stepper id="stepper">

                    <!-- TODO: STEP 1 -->
                    <mat-step [stepControl]="insumosForm" [editable]="true">
                      <div class="flex flex-col  bg-card filter-pricing">
                        <div class="p-4">
                          <div class="text-base text-justify font-bold">

                            <p> 1 A. Porcentaje de insumos, equipos y medicamentos esenciales con los que cuenta cada unidad
                              operativa para la atención de la salud materna y del/a recién nacido/a.
                          </div>
                        </div>
                      </div>

                      <p-table [value]="insumosForm.controls" styleClass="p-datatable-gridlines p-datatable-wrapper"
                        [autoLayout]="true" responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Area de preparación
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[0].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[0].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[0].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="insumos">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1" [options]="insumos"
                                  formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[0].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(insumosForm,1,numero_sala[0].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[0].numero>=2" >
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(insumosForm,1,numero_sala[0].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[0].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(insumosForm,1,numero_sala[0].numero)" readonly="true"></p-inputSwitch>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>
                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_insumo}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">

                        <button class="px-8 bg-indigo-900	text-white" mat-button type="button" matStepperNext
                        >
                          Siguiente
                        </button>
                      </div>
                    </mat-step>

                    <!-- TODO: STEP 2 -->
                    <mat-step [stepControl]="consultorioForm" [editable]="true">


                      <p-table [value]="consultorioForm.controls"
                        styleClass="p-datatable-gridlines p-datatable-wrapper" [autoLayout]="true"
                        responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Consultorio de Gineco-Obstetricias
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[1].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[1].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[1].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="consultorio">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1" [options]="consultorios"
                                  formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[1].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(consultorioForm,2,numero_sala[1].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[1].numero>=2">
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(consultorioForm,2,numero_sala[1].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[1].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(consultorioForm,2,numero_sala[1].numero)" readonly="true"></p-inputSwitch>
                              </td>

                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>

                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_gineco}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                        <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext
                        >
                          Siguiente
                        </button>
                      </div>
                    </mat-step>

                    <!-- TODO: STEP 3 -->
                    <mat-step [stepControl]="farmaciaForm" [editable]="true">


                      <p-table [value]="farmaciaForm.controls" styleClass="p-datatable-gridlines p-datatable-wrapper"
                        [autoLayout]="true" responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Farmacia: strock mínimo considera por cada unidad
                              de salud
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[2].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[2].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[2].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="farmacia">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1" [options]="stock"
                                  formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[2].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(farmaciaForm,3,numero_sala[2].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[2].numero>=2">
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(farmaciaForm,3,numero_sala[2].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[2].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(farmaciaForm,3,numero_sala[2].numero)" readonly="true"></p-inputSwitch>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>
                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_stock}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                        <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext
                            (click)="loadDataStep4()" *ngIf="!(datosSucursal.tipo==1 || datosSucursal.tipo==8)">
                            Siguiente
                          </button>
                          <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext
                          (click)="calculaTotal()" *ngIf="(datosSucursal.tipo==1 || datosSucursal.tipo==8)">
                            Siguiente
                          </button>
                      </div>
                    </mat-step>

                    <!-- TODO: STEP 4-->
                    <mat-step [stepControl]="laboratorioForm" [editable]="true" *ngIf="!(datosSucursal.tipo==1 || datosSucursal.tipo==8)">


                      <p-table [value]="laboratorioForm.controls"
                        styleClass="p-datatable-gridlines p-datatable-wrapper" [autoLayout]="true"
                        responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Laboratorio
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[3].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[3].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[3].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="laboratorio">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1" [options]="laboratorio"
                                  formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[3].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(laboratorioForm,4,numero_sala[3].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[3].numero>=2" >
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(laboratorioForm,4,numero_sala[3].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[3].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(laboratorioForm,4,numero_sala[3].numero)" readonly="true"></p-inputSwitch>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>
                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_laboratorio}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                        <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext
                        >
                          Siguiente
                        </button>
                      </div>
                    </mat-step>

                    <!-- TODO: STEP 5-->
                    <mat-step [stepControl]="servicioForm" [editable]="true" *ngIf="!(datosSucursal.tipo==1 || datosSucursal.tipo==8)">


                      <p-table [value]="servicioForm.controls" styleClass="p-datatable-gridlines p-datatable-wrapper"
                        [autoLayout]="true" responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Servicio de emergencia
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[4].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[4].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[4].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="servicio">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1"
                                  [options]="servicio_emergencia" formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[4].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(servicioForm,5,numero_sala[4].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[4].numero>=2">
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(servicioForm,5,numero_sala[4].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[4].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(servicioForm,5,numero_sala[4].numero)" readonly="true"></p-inputSwitch>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>
                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_servicio}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                        <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext
                        >
                          Siguiente
                        </button>
                      </div>
                    </mat-step>

                    <!-- TODO: STEP 6-->
                    <mat-step [stepControl]="charolEmergenciaForm" [editable]="true" *ngIf="!(datosSucursal.tipo==1 || datosSucursal.tipo==8)">


                      <p-table [value]="charolEmergenciaForm.controls"
                        styleClass="p-datatable-gridlines p-datatable-wrapper" [autoLayout]="true"
                        responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Charol de emergencia, mínimo para la atención de
                              dos personas permanentes
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[5].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[5].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[5].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="charol_emergencia">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1" [options]="charoles"
                                  formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[5].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(charolEmergenciaForm,6,numero_sala[5].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[5].numero>=2">
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(charolEmergenciaForm,6,numero_sala[5].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[5].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(charolEmergenciaForm,6,numero_sala[5].numero)" readonly="true"></p-inputSwitch>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>
                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_charol}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                        <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext
                        >
                          Siguiente
                        </button>
                      </div>
                    </mat-step>

                    <!-- TODO: STEP 7-->
                    <mat-step [stepControl]="atencionPartoForm" [editable]="true" *ngIf="!(datosSucursal.tipo==1 || datosSucursal.tipo==8)">


                      <p-table [value]="atencionPartoForm.controls"
                        styleClass="p-datatable-gridlines p-datatable-wrapper" [autoLayout]="true"
                        responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Sala de partos (Atención del recién nacido normal)
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[6].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[6].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[6].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="atencion_parto">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1" [options]="sala_parto"
                                  formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[6].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(atencionPartoForm,7,numero_sala[6].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[6].numero>=2">
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(atencionPartoForm,7,numero_sala[6].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[6].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(atencionPartoForm,7,numero_sala[6].numero)" readonly="true"></p-inputSwitch>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>
                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_atencion_parto}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                        <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext
                        >
                          Siguiente
                        </button>
                      </div>
                    </mat-step>

                    <!-- TODO: STEP 8-->
                    <mat-step [stepControl]="atencionNacidoForm" [editable]="true" *ngIf="!(datosSucursal.tipo==1 || datosSucursal.tipo==8)">


                      <p-table [value]="atencionNacidoForm.controls"
                        styleClass="p-datatable-gridlines p-datatable-wrapper" [autoLayout]="true"
                        responsiveLayout="scroll" [rowHover]="true">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="min-w-10  w-fit text-center">Sala de parto (Atención del parto normal y
                              complicado)
                              <span class="text-required"> * </span>
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[7].numero>=1">1
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[7].numero>=2">2
                            </th>
                            <th class="min-w-10  w-fit text-center" *ngIf="numero_sala[7].numero>=3">3
                            </th>
                          </tr>
                        </ng-template>


                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                          <ng-container formArrayName="atencion_nacido">
                            <tr [formGroupName]="rowIndex">
                              <td style="text-align-last:rigth;">
                                <p-dropdown appendTo="body" styleClass="component my-1 mx-1" [options]="sala_recien"
                                  formControlName="ide_indins" [readonly]="true">
                                  {{insumos}}
                                </p-dropdown>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[7].numero>=1">
                                <p-inputSwitch formControlName="uno_hlic"
                                  (onChange)="promedioInsumo(atencionNacidoForm,8,numero_sala[7].numero)" readonly="true"></p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[7].numero>=2">
                                <p-inputSwitch formControlName="dos_hlic"
                                  (onChange)="promedioInsumo(atencionNacidoForm,8,numero_sala[7].numero)" readonly="true">
                                </p-inputSwitch>
                              </td>
                              <td style="text-align-last:center;" *ngIf="numero_sala[7].numero>=3">
                                <p-inputSwitch formControlName="tres_hlic"
                                  (onChange)="promedioInsumo(atencionNacidoForm,8,numero_sala[7].numero)" readonly="true"></p-inputSwitch>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-template>
                      </p-table>
                      <div class="flex justify-end my-2">
                        <p> Promedio: <span class="font-bold">{{promedio_atencion_nacido}}</span></p>
                      </div>

                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                        <button class="px-8 bg-indigo-900	text-white	" mat-button type="button" matStepperNext (click)="calculaTotal()">
                          Siguiente
                        </button>
                      </div>
                    </mat-step>

                    //TODO: STEP 9
                    <mat-step [editable]="true" [stepControl]="atencionNacidoForm">

                      <div class="text-base text-justify">

                        <p>¿Cuántos ítems del estándar cumple?  <span class="font-bold">{{items_cumple}}</span></p>
                        <p>¿Cuántos ítems del estándar debe cumplir de acuerdo a su nivel de complejidad? <span class="font-bold">{{total_items}}</span></p>
                        <p>Porcentaje del cumplimiento del estándar <span class="font-bold">{{promedio_general}}</span></p>
                      </div>




                      <div class="flex justify-end mt-4">
                        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                          Anterior
                        </button>
                      </div>
                    </mat-step>

                  </mat-stepper>
                </div>



              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>



</div>
