<div class="flex flex-col flex-auto min-w-0">

    <div class="flex items-center p-2 px-4 justify-center w-full bg-card">
        <div>
            <div class="text-lg font-semibold tracking-tight leading-12  text-center">Descargar histórico
            </div>
        </div>

    </div>
    <div class="flex-auto pt-2 sm:px-4 sm:pb-4">
        <div class="barra"></div>
        <div class="p-2 bg-card shadow rounded overflow-hidden">
            <div class="flex justify-center flex-col sm:flex-row items-center w-full py-3 sm:my-2">

                <div class="w-full md:w-1/1 px-3 m-auto my-2 flex justify-center">
                    <button class=" ml-3 mr-3  bg-green-500 text-white text-bold p-1 rounded" mat-flat-button
                        type="button" (click)="descargar()">

                        <span class="ml-2 font-medium"> <i class="far fa-file-excel"></i> Exportar .xlsx</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>