<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto w-auto p-4 sm:p-4 bg-card dark:bg-transparent">

        <!-- Form -->
        <form [formGroup]="accountForm" (ngSubmit)="updateProfile()">

            <fuse-alert class="w-full mb-2" [type]="'info'">
                <b>OJO!</b> registre un correo electrónico o email valido y vigente por que se utilizara para realizar
                otros procesos.
            </fuse-alert>
            <div class="w-full mt-2">
                <div class="grid sm:grid-cols-4 gap-2 w-full mt-2">
                    <input type="hidden" [formControlName]="'profile'">
                    <!-- Profile -->
                    <div class="sm:col-span-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full fuse-mat-dense">
                            <mat-label>Perfil:</mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                            <input [formControlName]="'profile'" matInput>
                        </mat-form-field>
                    </div>
                    <!-- Name -->
                    <div class="sm:col-span-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full fuse-mat-dense">
                            <mat-label>Nombre:<span class="text-required"> * </span></mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                            <input [formControlName]="'name'" matInput>
                        </mat-form-field>
                        <i class="text-red-700 text-sm" *ngIf="isInvalidField('name')">{{getErrorMessage('name')}}</i>
                    </div>
                    <!-- Username -->
                    <div class="sm:col-span-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full fuse-mat-dense">
                            <mat-label>Username: <span class="text-required"> * </span></mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                            <input [formControlName]="'username'" matInput>
                        </mat-form-field>
                        <i class="text-red-700 text-sm"
                            *ngIf="isInvalidField('username')">{{getErrorMessage('username')}}</i>
                    </div>
                    <!-- Email -->
                    <div class="sm:col-span-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full fuse-mat-dense">
                            <mat-label>Email: <span class="text-required"> * </span></mat-label>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:at-symbol'" matPrefix></mat-icon>
                            <input [formControlName]="'email'" matInput>
                        </mat-form-field>
                        <i class="text-red-700 text-sm" *ngIf="isInvalidField('email')">{{getErrorMessage('email')}}</i>
                    </div>
                </div>

            </div>
            <!-- Divider -->
            <div class="mt-4 mb-2 border-t"></div>

            <!-- Actions -->
            <div class="flex items-center justify-center">
                <!-- Submit button -->
                <button class="hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full" mat-flat-button
                    type="submit" [disabled]="accountForm.disabled" [color]="'primary'">
                    <span *ngIf="!accountForm.disabled"> Actualizar </span>
                    <mat-progress-spinner *ngIf="accountForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </form>

    </div>
</div>
